image: ubuntu:22.04

stages:
  - build
  - deploy

variables:
  PACKAGES_DIR: packages

build-repo:
  stage: build
  before_script:
    - apt-get update && apt-get install -y createrepo-c curl jq
  script:
    - mkdir -p $PACKAGES_DIR
    
    # Copy RPMs from repository directories
    - find . -name "*.rpm" -path "*/RPMS/*" -exec cp {} $PACKAGES_DIR/ \;
    - echo "Packages found:" && ls -la $PACKAGES_DIR/
    
    # Generate repository metadata
    - createrepo_c $PACKAGES_DIR/
    
    # Prepare site
    - mkdir -p public
    - cp index.html public/
    - cp install.sh public/
    - cp -r $PACKAGES_DIR public/
  artifacts:
    paths:
      - public
    expire_in: 1 week

pages:
  stage: deploy
  dependencies:
    - build-repo
  script:
    - echo "Deploying to GitLab Pages"
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
